# Exercise/Achievement 4.8
# Kaan Arslan

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import databases
path = r'C:\Users\arsla\Instacart basket analysis July 2025\02 Data'

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path,'Prepared Data','ords_prods_merged_after_exercise.7.pkl'))

In [5]:
#limit the database 
df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular days,Average orders
1,2539329,1,1,2,8,7.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regular days,Average orders
2,2539329,1,1,2,8,7.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regular days,Average orders
3,2539329,1,1,2,8,7.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regular days,Average orders
4,2539329,1,1,2,8,7.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regular days,Average orders

In [9]:
df.groupby('product_name')

In [10]:
#aggregation exercise
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                      1.0
2                      1.0
3                      1.0
4                      1.0
5                      1.0
6                      1.0
7                      1.0
8                      1.0
9                      1.0
10                     1.0
11                     1.0
12                     1.0
13                     1.0
14                     1.0
15                     1.0
16                     1.0
17                     1.0
18                     1.0
19                     1.0
20                     1.0
21                     1.0

In [11]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                      1.0
2                      1.0
3                      1.0
4                      1.0
5                      1.0
6                      1.0
7                      1.0
8                      1.0
9                      1.0
10                     1.0
11                     1.0
12                     1.0
13                     1.0
14                     1.0
15                     1.0
16                     1.0
17                     1.0
18                     1.0
19                     1.0
20                     1.0
21                     1.0

### I'm confused about why all are equal to 1

In [13]:
df.groupby('department_id')['order_number'].mean()

department_id
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
Name: order_number, dtype: float64

In [14]:
df.groupby('department_id').order_number.mean()

department_id
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
Name: order_number, dtype: float64

In [15]:
#performing multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                      1.0   1   1
2                      1.0   1   1
3                      1.0   1   1
4                      1.0   1   1
5                      1.0   1   1
6                      1.0   1   1
7                      1.0   1   1
8                      1.0   1   1
9                      1.0   1   1
10                     1.0   1   1
11                     1.0   1   1
12                     1.0   1   1
13                     1.0   1   1
14                     1.0   1   1
15                     1.0   1   1
16                     1.0   1   1
17                     1.0   1   1
18                     1.0   1   1
19                     1.0   1   1
20                     1.0   1   1
21                     1.0   1   1

In [17]:
ords_prods_merge.head(30)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular days,Average orders
1,2539329,1,1,2,8,7.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regular days,Average orders
2,2539329,1,1,2,8,7.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regular days,Average orders
3,2539329,1,1,2,8,7.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regular days,Average orders
4,2539329,1,1,2,8,7.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regular days,Average orders
5,2168274,2,1,2,11,7.0,32792,1,0,both,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Regularly busy,Regular days,Most orders
6,2168274,2,1,2,11,7.0,47766,2,0,both,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Regular days,Most orders
7,2168274,2,1,2,11,7.0,20574,3,0,both,Roasted Turkey,96,20,2.3,both,Low-range product,Regularly busy,Regular days,Most orders
8,2168274,2,1,2,11,7.0,12000,4,0,both,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,Mid-range product,Regularly busy,Regular days,Most orders
9,2168274,2,1,2,11,7.0,48110,5,0,both,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,Low-range product,Regularly busy,Regular days,Most orders
10,2168274,2,1,2,11,7.0,22474,6,0,both,Cheddar Bunnies Snack Crackers,78,19,4.1,both,Low-range product,Regularly busy,Regular days,Most orders
11,2168274,2,1,2,11,7.0,16589,7,0,both,Plantain Chips,107,19,5.0,both,Low-range product,Regularly busy,Regular days,Most orders
12,2168274,2,1,2,11,7.0,35917,8,0,both,Organic Just Concord Grape Juice,98,7,9.4,both,Mid-range product,Regularly busy,Regular days,Most orders
13,2168274,2,1,2,11,7.0,27344,9,0,both,Uncured Genoa Salami,96,20,14.8,both,Mid-range product,Regularly busy,Regular days,Most orders
14,2168274,2,1,2,11,7.0,30489,10,0,both,Original Hummus,67,20,7.5,both,Mid-range product,Regularly busy,Regular days,Most orders
15,2168274,2,1,2,11,7.0,27966,11,0,both,Organic Raspberries,123,4,4.4,both,Low-range product,Regularly busy,Regular days,Most orders
16,2168274,2,1,2,11,7.0,13176,12,0,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Regular days,Most orders
17,2168274,2,1,2,11,7.0,45066,13,0,both,Honeycrisp Apple,24,4,2.5,both,Low-range product,Regularly busy,Regular days,Most orders
18,1374495,3,1,1,14,7.0,9387,1,0,both,Granny Smith Apples,24,4,8.8,both,Mid-range product,Regularly busy,Busiest days,Most orders
19,1374495,3,1,1,14,7.0,17668,2,0,both,Unsweetened Chocolate Almond Breeze Almond Milk,91,16,6.6,both,Mid-range product,Regularly busy,Busiest days,Most orders
20,1374495,3,1,1,14,7.0,15143,3,0,both,Blueberry Pint,24,4,6.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
21,1374495,3,1,1,14,7.0,16797,4,0,both,Strawberries,24,4,1.3,both,Low-range product,Regularly busy,Busiest days,Most orders
22,1374495,3,1,1,14,7.0,39190,5,0,both,Vanilla Unsweetened Almond Milk,91,16,12.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
23,1374495,3,1,1,14,7.0,47766,6,0,both,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
24,1374495,3,1,1,14,7.0,21903,7,0,both,Organic Baby Spinach,123,4,8.2,both,Mid-range product,Regularly busy,Busiest days,Most orders
25,1374495,3,1,1,14,7.0,39922,8,0,both,Celery Sticks,123,4,14.4,both,Mid-range product,Regularly busy,Busiest days,Most orders
26,1374495,3,1,1,14,7.0,24810,9,0,both,Organic Lightly Salted Brown Rice Cakes,78,19,5.8,both,Mid-range product,Regularly busy,Busiest days,Most orders
27,1374495,3,1,1,14,7.0,32402,10,0,both,"Crackers, Crispy, Cheddar",78,19,4.1,both,Low-range product,Regularly busy,Busiest days,Most orders
28,3343014,4,1,6,11,7.0,36606,1,0,both,Sprouted Multi-Grain Bread,112,3,9.4,both,Mid-range product,Regularly busy,Regular days,Most orders
29,3343014,4,1,6,11,7.0,7350,2,0,both,Natural Lime Flavor Sparkling Mineral Water,115,7,7.0,both,Mid-range product,Regularly busy,Regular days,Most orders

In [18]:
ords_prods_merge.tail(30)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest day,busiest days,busiest_period_of_day
2076066,2166133,206207,1,6,19,7.0,33806,20,0,both,Flax Seed Crispbread,78,19,2.8,both,Low-range product,Regularly busy,Regular days,Average orders
2076067,2166133,206207,1,6,19,7.0,5165,21,0,both,Organic Basil Garlic Polenta Pre-Cooked,63,9,7.8,both,Mid-range product,Regularly busy,Regular days,Average orders
2076068,2166133,206207,1,6,19,7.0,14332,22,0,both,Organic Yellow Mustard,72,13,3.7,both,Low-range product,Regularly busy,Regular days,Average orders
2076069,2166133,206207,1,6,19,7.0,39619,23,0,both,Organic Tomato Basil Pasta Sauce,9,9,3.3,both,Low-range product,Regularly busy,Regular days,Average orders
2076070,2166133,206207,1,6,19,7.0,2954,24,0,both,Organic Diced Fire Roasted No Salt Added Tomatoes,81,15,2.5,both,Low-range product,Regularly busy,Regular days,Average orders
2076071,2227043,206208,1,1,15,7.0,34213,1,0,both,Great White Bread,112,3,12.7,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076072,2227043,206208,1,1,15,7.0,27966,2,0,both,Organic Raspberries,123,4,4.4,both,Low-range product,Regularly busy,Busiest days,Most orders
2076073,2227043,206208,1,1,15,7.0,33000,3,0,both,Pure Irish Butter,36,16,12.2,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076074,2227043,206208,1,1,15,7.0,23579,4,0,both,Peanut Butter Chocolate Chip Fruit & Nut Food Bar,3,19,1.7,both,Low-range product,Regularly busy,Busiest days,Most orders
2076075,2227043,206208,1,1,15,7.0,27845,5,0,both,Organic Whole Milk,84,16,12.8,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076076,2227043,206208,1,1,15,7.0,20995,6,0,both,Organic Broccoli Florets,116,1,8.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076077,2227043,206208,1,1,15,7.0,43086,7,0,both,Super Greens Salad,123,4,8.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076078,2227043,206208,1,1,15,7.0,47766,8,0,both,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076079,2227043,206208,1,1,15,7.0,40706,9,0,both,Organic Grape Tomatoes,123,4,8.6,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076080,2227043,206208,1,1,15,7.0,14467,10,0,both,Sweet Baguette,112,3,4.5,both,Low-range product,Regularly busy,Busiest days,Most orders
2076081,2227043,206208,1,1,15,7.0,44910,11,0,both,Organic Spring Mix Salad,123,4,9.5,both,Mid-range product,Regularly busy,Busiest days,Most orders
2076082,2227043,206208,1,1,15,7.0,165,12,0,both,Wild Chanterelle Mushroom Ravioli,12,9,2.4,both,Low-range product,Regularly busy,Busiest days,Most orders
2076083,3154581,206209,1,3,11,7.0,6846,1,0,both,Diet Pepsi Pack,77,7,11.3,both,Mid-range product,Regularly busy,Slowest days,Most orders
2076084,3154581,206209,1,3,11,7.0,9405,2,0,both,Calcium Enriched 100% Lactose Free Fat Free Milk,91,16,11.5,both,Mid-range product,Regularly busy,Slowest days,Most orders
2076085,3154581,206209,1,3,11,7.0,41213,3,0,both,French Loaf,112,3,4.8,both,Low-range product,Regularly busy,Slowest days,Most orders
2076086,3154581,206209,1,3,11,7.0,40396,4,0,both,Guacamole,67,20,3.6,both,Low-range product,Regularly busy,Slowest days,Most orders
2076087,3154581,206209,1,3,11,7.0,14901,5,0,both,Raisins,117,19,2.0,both,Low-range product,Regularly busy,Slowest days,Most orders
2076088,3154581,206209,1,3,11,7.0,40534,6,0,both,In Rich Tomato Sauce Vegetarian Beans,59,15,13.3,both,Mid-range product,Regularly busy,Slowest days,Most orders
2076089,3154581,206209,1,3,11,7.0,23039,7,0,both,Fat Free Cream Cheese,108,16,3.4,both,Low-range product,Regularly busy,Slowest days,Most orders
2076090,3154581,206209,1,3,11,7.0,890,8,0,both,Organic Diced Tomatoes,81,15,4.9,both,Low-range product,Regularly busy,Slowest days,Most orders
2076091,3154581,206209,1,3,11,7.0,20073,9,0,both,Jazz Apple,24,4,6.4,both,Mid-range product,Regularly busy,Slowest days,Most orders
2076092,3154581,206209,1,3,11,7.0,13176,10,0,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Most orders
2076093,3154581,206209,1,3,11,7.0,20842,11,0,both,Total 0% Greek Yogurt,120,16,13.6,both,Mid-range product,Regularly busy,Slowest days,Most orders
2076094,3154581,206209,1,3,11,7.0,23594,12,0,both,Medium Salsa,51,13,3.7,both,Low-range product,Regularly busy,Slowest days,Most orders
2076095,3154581,206209,1,3,11,7.0,25837,13,0,both,Mini Babybel Light Semisoft Edam Cheeses,21,16,3.8,both,Low-range product,Regularly busy,Slowest days,Most orders

In [21]:
#aggregating with transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [22]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular days,Average orders,1
1,2539329,1,1,2,8,7.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Regular days,Average orders,1
2,2539329,1,1,2,8,7.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Regular days,Average orders,1
3,2539329,1,1,2,8,7.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Regular days,Average orders,1
4,2539329,1,1,2,8,7.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Regular days,Average orders,1
5,2168274,2,1,2,11,7.0,32792,1,0,both,Chipotle Beef & Pork Realstick,23,19,5.2,both,Mid-range product,Regularly busy,Regular days,Most orders,1
6,2168274,2,1,2,11,7.0,47766,2,0,both,Organic Avocado,24,4,6.3,both,Mid-range product,Regularly busy,Regular days,Most orders,1
7,2168274,2,1,2,11,7.0,20574,3,0,both,Roasted Turkey,96,20,2.3,both,Low-range product,Regularly busy,Regular days,Most orders,1
8,2168274,2,1,2,11,7.0,12000,4,0,both,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,Mid-range product,Regularly busy,Regular days,Most orders,1
9,2168274,2,1,2,11,7.0,48110,5,0,both,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,Low-range product,Regularly busy,Regular days,Most orders,1
10,2168274,2,1,2,11,7.0,22474,6,0,both,Cheddar Bunnies Snack Crackers,78,19,4.1,both,Low-range product,Regularly busy,Regular days,Most orders,1
11,2168274,2,1,2,11,7.0,16589,7,0,both,Plantain Chips,107,19,5.0,both,Low-range product,Regularly busy,Regular days,Most orders,1
12,2168274,2,1,2,11,7.0,35917,8,0,both,Organic Just Concord Grape Juice,98,7,9.4,both,Mid-range product,Regularly busy,Regular days,Most orders,1
13,2168274,2,1,2,11,7.0,27344,9,0,both,Uncured Genoa Salami,96,20,14.8,both,Mid-range product,Regularly busy,Regular days,Most orders,1
14,2168274,2,1,2,11,7.0,30489,10,0,both,Original Hummus,67,20,7.5,both,Mid-range product,Regularly busy,Regular days,Most orders,1

In [23]:
#creating a 'loyalty flag' with loc
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
New customer    2076096
Name: count, dtype: int64

In [25]:
#checking the output
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id  loyalty_flag  order_number
0         1  New customer             1
1         1  New customer             1
2         1  New customer             1
3         1  New customer             1
4         1  New customer             1
5         2  New customer             1
6         2  New customer             1
7         2  New customer             1
8         2  New customer             1
9         2  New customer             1
10        2  New customer             1
11        2  New customer             1
12        2  New customer             1
13        2  New customer             1
14        2  New customer             1
15        2  New customer             1
16        2  New customer             1
17        2  New customer             1
18        3  New customer             1
19        3  New customer             1
20        3  New customer             1
21        3  New customer             1
22        3  New customer             1
23        3  New customer             1
24        3  New customer             1
25        3  New customer             1
26        3  New customer             1
27        3  New customer             1
28        4  New customer             1
29        4  New customer             1
30        4  New customer             1
31        4  New customer             1
32        5  New customer             1
33        5  New customer             1
34        5  New customer             1
35        5  New customer             1
36        5  New customer             1
37        5  New customer             1
38        5  New customer             1
39        5  New customer             1
40        5  New customer             1
41        5  New customer             1
42        5  New customer             1
43        6  New customer             1
44        6  New customer             1
45        6  New customer             1
46        6  New customer             1
47        7  New customer             1
48        7  New customer             1
49        7  New customer             1
50        7  New customer             1
51        7  New customer             1
52        7  New customer             1
53        7  New customer             1
54        7  New customer             1
55        7  New customer             1
56        7  New customer             1
57        7  New customer             1
58        7  New customer             1
59        8  New customer             1

##Q5 of the task

In [26]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                 prices
                   mean  min      max
loyalty_flag
New customer  12.023704  1.0  99999.0

In [27]:
# Aggregating Data with transform
ords_prods_merge['avg_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [29]:
ords_prods_merge[['user_id', 'avg_product_price']].head(30)

    user_id  avg_product_price
0         1           6.320000
1         1           6.320000
2         1           6.320000
3         1           6.320000
4         1           6.320000
5         2           6.569231
6         2           6.569231
7         2           6.569231
8         2           6.569231
9         2           6.569231
10        2           6.569231
11        2           6.569231
12        2           6.569231
13        2           6.569231
14        2           6.569231
15        2           6.569231
16        2           6.569231
17        2           6.569231
18        3           7.380000
19        3           7.380000
20        3           7.380000
21        3           7.380000
22        3           7.380000
23        3           7.380000
24        3           7.380000
25        3           7.380000
26        3           7.380000
27        3           7.380000
28        4          10.300000
29        4          10.300000

### Q6 of the task

In [31]:
# Creating a 'Spending Flag' with loc
ords_prods_merge.loc[ords_prods_merge['avg_product_price'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['avg_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [32]:
#checking the result
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     1966543
High spender     109553
Name: count, dtype: int64

In [33]:
ords_prods_merge[['user_id', 'avg_product_price', 'spending_flag']].head(20)

    user_id  avg_product_price spending_flag
0         1           6.320000   Low spender
1         1           6.320000   Low spender
2         1           6.320000   Low spender
3         1           6.320000   Low spender
4         1           6.320000   Low spender
5         2           6.569231   Low spender
6         2           6.569231   Low spender
7         2           6.569231   Low spender
8         2           6.569231   Low spender
9         2           6.569231   Low spender
10        2           6.569231   Low spender
11        2           6.569231   Low spender
12        2           6.569231   Low spender
13        2           6.569231   Low spender
14        2           6.569231   Low spender
15        2           6.569231   Low spender
16        2           6.569231   Low spender
17        2           6.569231   Low spender
18        3           7.380000   Low spender
19        3           7.380000   Low spender

#### Q7 of the task

In [34]:
#aggregating data with transform
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [35]:
#checking the result
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head(20)

    user_id  days_since_prior_order  median_days_between_orders
0         1                     7.0                         7.0
1         1                     7.0                         7.0
2         1                     7.0                         7.0
3         1                     7.0                         7.0
4         1                     7.0                         7.0
5         2                     7.0                         7.0
6         2                     7.0                         7.0
7         2                     7.0                         7.0
8         2                     7.0                         7.0
9         2                     7.0                         7.0
10        2                     7.0                         7.0
11        2                     7.0                         7.0
12        2                     7.0                         7.0
13        2                     7.0                         7.0
14        2                     7.0                         7.0
15        2                     7.0                         7.0
16        2                     7.0                         7.0
17        2                     7.0                         7.0
18        3                     7.0                         7.0
19        3                     7.0                         7.0

In [37]:
# Creating a 'Frequency Flag' using loc 
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [39]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer    2076096
Name: count, dtype: int64

In [40]:
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency_flag']].head(10)

,user_id,days_since_prior_order,median_days_between_orders,order_frequency_flag
0,1,7.0,7.0,Frequent customer
1,1,7.0,7.0,Frequent customer
2,1,7.0,7.0,Frequent customer
3,1,7.0,7.0,Frequent customer
4,1,7.0,7.0,Frequent customer
5,2,7.0,7.0,Frequent customer
6,2,7.0,7.0,Frequent customer
7,2,7.0,7.0,Frequent customer
8,2,7.0,7.0,Frequent customer
9,2,7.0,7.0,Frequent customer

In [41]:
ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'ords_prods_merged_grouped_Task8.pkl'))